body{
    background-color: black;
}
.white-box{
    width: 200px;
    height: 300px;
    background-color: aliceblue;
}
.Green-box{
    width: 400px;
    height: 300px;
    background-color: green;
    position: relative;
    left: 200px;
    top: -300px;
}
.white-circle{
    width: 150px;
    height: 150px;
    position: relative;
    left: 320px;
    top: -540px;
    border-radius: 50%;
    box-shadow: -20px 20px 0px 15px white;
}
.star{
    
}